.wrap {
	 position: fixed;
	 top: 0;
	 left: 0;
   width : 100%;
   height: 100%;
   z-index: 1000;
}
.loading{
  position: relative;
  width : 100%;
   height: 100%;
   z-index: 601;
   /* top: 50%;
	 left: 50%; */
   display: flex;
   align-items: center;
   margin-left: auto;
   margin-right: auto;
   /* transform: translate(-50%, -50%); */
   font-size: 1.5rem;
   justify-content: center;
}
 .text-preload {
	 color: #314d92;
	 display: inline-block;
	 margin-left: 5px;
	 font-weight: bold;
	 /* background: linear-gradient(rgba(69, 97, 166, 0.5), rgba(200, 200, 220, 0.5)); */
	 /* background: #fff; */
	 /* filter: blur(8px);
  -webkit-filter: blur(8px); */

}


  .text-preload {
    /* background: rgba(255, 255, 255, 0.2); */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }

 .bounceball {
	 position: relative;
	 display: inline-block;
	 height: 37px;
	 width: 15px;
}
 .bounceball:before {
	 position: absolute;
	 content: '';
	 display: block;
	 top: 0;
	 width: 15px;
	 height: 15px;
	 border-radius: 50%;
	 background-color: #314d92;
	 transform-origin: 50%;
	 animation: bounce 500ms alternate infinite ease;
}
 @keyframes bounce {
	 0% {
		 top: 30px;
		 height: 5px;
		 border-radius: 60px 60px 20px 20px;
		 transform: scaleX(2);
	}
	 35% {
		 height: 15px;
		 border-radius: 50%;
		 transform: scaleX(1);
	}
	 100% {
		 top: 0;
	}
}


.wrap .loader-section {
    position: fixed;
    top: 0;
    width: 50.1%;
    height: 100%;
    background: #fff;
    z-index: 599;
}

.wrap .loader-section.section-left {
    left: 0;
}

.wrap .loader-section.section-right {
    right: 0;
}

.loaded .wrap .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded .wrap .loader-section.section-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

/* .section-slide-preLoad{
	position: absolute;
	top: 0;
	width: 18rem;
	height: 200px;
	background: linear-gradient(rgba(89, 117, 186, 0.4), rgba(220, 220, 220, 0.6));
	z-index: 600;
	visibility: hidden;
} */

/* .wrap .loader-section.section-left .section-slide-preLoad-left{
	right: 0;
}
.section-slide-preLoad-right{
} */

.loaded .loading {
    opacity: 0;

    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}

.loaded .wrap {
    /* visibility: hidden; */

    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);

    -webkit-transition: all 0.3s 1s ease-out;
            transition: all 0.3s 1s ease-out;
}


@media screen and (min-width: 768px) {
  .loading{
     font-size: 1.8rem;
   }
  }
  @media screen and (min-width: 992px) {
    .loading{
       font-size: 2.1rem;
     }
    }
    @media screen and (min-width: 1200x) {
      .loading{
         font-size: 2.4rem;
       }
      }
      @media screen and (min-width: 1400px) {
        .loading{
           font-size: 2.7rem;
         }
        }
        @media screen and (min-width: 1600px) {
          .loading{
             font-size: 3.2rem;
           }
          }
